## Least-squares linear regression

In [13]:
import pandas as pd
from sklearn.model_selection import train_test_split

h_train = pd.read_csv('./data/train.csv')
h_test = pd.read_csv('./data/test.csv')

h_train = h_train.fillna(h_train.mean())
h_test = h_test.fillna(h_test.mean())

train_columns = h_test.columns
X = h_train[train_columns]
y = h_train['SalePrice']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 0)
h_test.shape

(1459, 80)

In [14]:
from sklearn.linear_model import LinearRegression

X_train_cols = ['OverallQual', 'YearBuilt', 'YearRemodAdd', 'TotalBsmtSF', '1stFlrSF',
                'GrLivArea', 'FullBath', 'TotRmsAbvGrd', 'GarageCars', 'GarageArea']

linreg = LinearRegression().fit(X_train[X_train_cols], y_train)

In [21]:
h_test['SalePrice'] = linreg.predict(h_test[X_train_cols])
h_test = h_test.set_index('Id')
h_test.shape

(1459, 80)

In [23]:
h_test[['SalePrice']]

          SalePrice
Id
1461  120438.322592
1462  163200.073022
1463  170736.846504
1464  186387.279005
1465  215991.222444
1466  178409.698773
1467  171983.358495
1468  169312.755976
1469  210474.584064
1470  101332.162572
1471  210773.930062
1472  113315.090142
1473  105727.425775
1474  159581.409623
1475  141645.419766
1476  330389.986374
1477  269748.061273
1478  294505.667681
1479  287476.064769
1480  407688.133089
1481  307300.635300
1482  232598.579383
1483  190000.963097
1484  190394.169310
1485  172533.108669
1486  210272.848330
1487  324488.758110
1488  273119.677075
1489  210000.426920
1490  208517.304637
...             ...
2890   45047.103577
2891  159599.984531
2892    6514.774193
2893   97915.898278
2894   14657.590557
2895  267827.822992
2896  259815.641405
2897  210347.558952
2898  214527.642681
2899  241799.730654
2900  161500.752631
2901  205455.316530
2902  196042.768974
2903  295718.933230
2904  306636.952710
2905   47356.677962
2906  222682.028319
2907  115630.848446
2908  115916.998324
2909  205895.499252
2910   50712.907879
2911   87142.220059
2912  151407.687706
2913   87251.174288
2914   73619.328539
2915   73619.328539
2916   87059.687589
2917  160310.686271
2918  113779.370333
2919  236203.004328

[1459 rows x 1 columns]

In [24]:
h_test['SalePrice'].to_csv("./data/least_squares_1_subm.csv", index=True, header=True)

In [ ]:
Least-squares linear regression
'OverallQual', 'YearBuilt', 'YearRemodAdd', 'TotalBsmtSF', '1stFlrSF', 'GrLivArea', 'FullBath', 'TotRmsAbvGrd', 'GarageCars', 'GarageArea'